body {
    font-family:Noto Sans, sans-serif, serif;
}
dt {
    padding: 0;
    margin: 0px 0px 0px 50px;
}
/*table {
    margin: 10px 0px 0px 50px;
    border-spacing: 0;
    width: 77%;
}
th, td {
    padding: 0px 5px 0px 5px;
    text-align: left;
}*/
.avator {
    float: auto;
    margin: 30px 0px 0px 50px;
}
.name {
    font-size: 46px;
    padding: 0;
    margin: 0px 0px 0px 225px;
}
.overview {
    color: #404040;
    margin-left: 230px;
    margin-right: 350px;
}
/*.subtitle {
    font-size: 46px;
    padding: 0;
    margin: 0px 0px 0px 50px;
    float: left;
}
.subtitle2 {
    font-size: 46px;
    padding: 0;
    margin: 0px 0px 0px 500px;
}*/
.subtitle {
    font-size: 46px;
    padding: 0;
    margin: 0px 0px 0px 50px;
}
/*.rgt {
    padding: 0;
    margin: 0px 0px 0px 50px;
    float: left;
}
.rgt2 {
    padding: 0;
    margin: 0px 0px 0px 50px;
    margin-left: 133px;
}
.lft {
    padding: 0;
    margin: 0px 0px 0px 500px;
}*/
.column {
    display: inline-block;
    width: calc(46% - 100px);
    margin-left: 50px;
}
.column h2 {
    font-size: 46px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
}
.column p {
    margin-top: 0;
    margin-bottom: 0;
}
.column .language {
    display: flex;
}
.column .languagegroup {
    display: flex;
    flex-direction: column;
}
.spacing_above_subtitles {
    padding-top: 46px;
    display: block;
}
.container_content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0px 20px 0px 40px;
}
.container_skill_name {
    align-items: flex-start;
    align-content: flex-start;
}
/*.flex-container3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}*/
.item_content {
    order: 0;
    flex: 1 1 auto; /*flex-grow: 1; || flex-shrink: 1; || flex-basis: auto;*/
    list-style-type: none;
    width: 0;
    align-self: left;
    margin: 0px 20px 20px 10px;
    padding: 0px 80px 0px 0px;
}
.item_skill_name {
    font-size: 30px;
    height: 10px;
    border-top: 6px solid #999999;
}
.horizontal_tools {
    float: left;
    margin-right: 50px;
}
.tools_function {
    padding: 0px 50px 0px 50px;
    text-align: left;
}
.tools_item {
    padding-left: 90px;
    font-style: italic;
    margin-top: 5px;
}
.horizontal_tools_right {
    padding: 1px 0px 0px 0px;
    margin: 0px 0px 0px 500px;
}
.experience {
    border-left: 1px solid #999999;
    width: 98%;
    margin-left: 50px;
}
.company {
    font-size: 24px;
    margin: 0;
    padding: 20px 0px 0px 50px;
}
.jobtitle {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0px 8px 0px;
    padding-left: 50px;
}
.jbcategory {
    padding: 0px 0px 0px 50px;
    margin: 0;
}
.jbd {
    width: 68%;
    margin-top: 4px;
    padding-left: 90px;
}
a:link {
    color: #009933;
    text-decoration: none;
}
a:visited {
    color: #009933;
    background-color: transparent;
    text-decoration: underline;
}