body {
    font-family:Noto Sans, sans-serif, serif;
    color: #404040;
}
h1 {
    font-size: 46px;
    font-weight: normal;
    padding: 50px 0 2px 50px;
    margin: 0;
}
h2 {
    font-size: 46px;
    font-weight: normal;
    padding: 46px 0 6px 50px;
    margin: 0;
}
.parent {
    position: relative;
    height: auto;
}
.avator {
    padding: 30px 0px 0px 50px;
    position: absolute;
    height: 150px;
    width: 150px;
}
.overview {
    position: relative;
    padding: 30px 120px 0 230px;
}
.name {
    font-size: 46px;
    line-height: 80%;
}
.wording{
    padding-top: 10px;
    line-height: 135%;
}
.tel {
    padding-top: 6px;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
}
.blocks .column {
    width: calc((100% - 200px) / 2);
    padding: 0 25px 0 0;
}
.column_content {
    padding: 10px 0 0 50px; 
}
.column p {
    padding-right: 6px;
    margin: 0;
    line-height: 135%;
}
.column span {
    line-height: 135%;
}
.column .language {
    display: flex;
}
.column .languagegroup {
    display: flex;
    flex-direction: column;
}
.blocks h2 {
    padding: 46px 0 0 50px;
    width: 100%;
}
.blocks .block {
    margin: 0;
    width: calc((100% - 20px)/ 4);
}
.blocks .block:nth-child(n+1) {
    padding: 0 10px 0 50px;
}
.block h3 {
    font-size: 30px;
    font-weight: lighter;
    padding-top: 10px;
    border-top: 6px solid #999999;
    margin: 6px 0 0 0;
}
.block p {
    line-height: 135%;
    padding-top: 6px;
}
.all_tools {
    overflow: auto;
}
.tool_group {
    float: left;
}
.tool_group p {
    padding: 0 20px 0 50px;
}
.tool_group ul {
    padding: 0 0 0 90px;
    font-style: italic;
}
.clearfix:after { 
    content: ""; display: block; clear: both;
}
.experience {
    display: flex;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
}
.experience_leftside {
    width: 1px;
    height: auto;
    border-right: 1px solid #999999;
    flex-direction: column; 
}
.experience_content {
    margin-left: 50px;
    width: calc(100% - 12%);
    line-height: 135%;
}
.company {
    font-size: 24px;
    margin: 0;
    padding: 20px 0 0 0;
}
.jobtitle {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0 8px 0;
}
.jbcategory {
    /*margin: 0;*/
}
.jbd {
    width: 68%;
    margin-top: 4px;
    padding-left: 40px;
}
a:link {
    color: #009933;
    text-decoration: none;
}
a:visited {
    color: #009933;
    background-color: transparent;
    text-decoration: underline;
}